:root {
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-dark: #212121;
  --color-gray: #757575;
  --color-lightgray: rgba(255, 255, 255, 0.6);
  --color-graphite: #2f303a;
  --color-original: #f5f4fa;
  --border-portfolio: 1px solid #ececec;
  --border-projects: 1px solid #eeeeee;
  --shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100;
  height: auto;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ХЕДЕР */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--color-dark);

  padding: 24px 0 25px;
  margin-right: 93px;
}

.logo-web {
  color: var(--color-blue);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list > li:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  color: var(--color-dark);

  padding: 32px 0;
}

.header-contact {
  color: var(--color-gray);

  padding: 32px 0;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--color-blue);
}

/* ГЕРОЙ */
.hero {
  background: var(--color-graphite);
  text-align: center;

  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);

  width: 696px;
  margin: 0 auto 30px;

}

.hero-btn {
  background: var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

/* СЕКЦИЯ 1 */

.section-size {
  padding: 94px 0;
}

.section-list {
  display: flex;
  justify-content: space-between;
}

.section-item {
  max-width: 270px;
}

.section-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--color-dark);

  margin-bottom: 10px;
}

.section-text {
  font-weight: 400;
  line-height: 1.7;

  color: var(--color-gray);
}

/* СЕКЦИЯ 2 */

.section-size.features {
  padding-top: 0;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-dark);

  margin-bottom: 50px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

/* СЕКЦИЯ 3 */
/* h2 = .features-title  секции 2*/
.section-size.team {
  background-color: var(--color-original);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-list > .list-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadow-card);

  background-color: var(--color-white);
}

.team-list > .list-card:nth-child(4n) {
  margin-right: 0;
}

.member-team {
  font-weight: 500;
  color: var(--color-dark);

  margin-top: 30px;
}

.position-team {
  font-weight: 400;
  color: var(--color-gray);

  margin-top: 10px;
  margin-bottom: 30px;
}

.member-team,
.position-team {
  font-size: 16px;
  text-align: center;
}

/* ФУТЕР */

.info {
  background-color: var(--color-graphite);
  padding: 60px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--color-blue);
}

.logo-studio {
  color: var(--color-white);
}

.info-contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.info-address {
  color: var(--color-white);

  margin-top: 20px;
}

.info-link {
  color: rgba(255, 255, 255, 0.6);

  margin-top: 9px;
}

.info-address:hover,
.info-address:focus,
.info-link:hover,
.info-link:focus {
  color: var(--color-blue);
}

/* ПОРТФОЛИО */

.header-border {
  border-bottom: var(--border-portfolio);
}

.section-project {
  padding: 94px 0;
}

.btn-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.btn-menu > .btn-list:not(:last-child) {
  margin-right: 8px;
}

.nav-btn {
  background-color: var(--color-original);
  color: var(--color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* СПИСОК ПРОЕКТОВ */

.project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project > .project-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border: var(--border-projects);
}

.project > .project-list:nth-child(3n) {
  margin-right: 0;
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-dark);

  margin-bottom: 4px;
}

.project-about {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;

  color: var(--color-gray);
}

.name-about {
  padding: 20px 24px;
}
